* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    box-shadow: 1px 1px 3px 0px black;
    height: 100px;
}

header>img {
    width: 80px;
    height: 80px;
    float: left;
    margin: 10px;
}

header>img:hover {
    width: 80px;
    height: 80px;
    float: left;
    margin: 10px;
    transition: 800ms;
    transform: rotate(360deg);
}

li {
    padding: 10px;
}

.menu-text2:hover {
    transition: 300ms;
    transform: scale(0.9);
}

.menu-button {
    border: 2px black solid;
    border-radius: 20px;
    margin-left: 10px;
}

.menu-button:hover {
    border: 2px black solid;
    border-radius: 20px;
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0.126);
    transition: 300ms;
    transform: scale(0.9);
}

.menu-button2 {
    border: 2px black solid;
    background-color: black;
    color: white;
    border-radius: 20px;
    margin-left: 10px;
}

.menu-button2:hover {
    border: 2px black solid;
    background-color: black;
    color: white;
    border-radius: 20px;
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0.84);
    transition: 300ms;
    transform: scale(0.9);
}

.menu-left {
    text-decoration: none;
    list-style: none;
    display: flex;
    float: left;
    font-weight: bold;
    font-size: 18px;
    padding-top: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu-right {
    text-decoration: none;
    list-style: none;
    display: flex;
    float: right;
    font-weight: bold;
    font-size: 18px;
    padding-top: 30px;
    margin-right: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu-text:hover {
    color: rgb(0, 125, 4);
    transition: 300ms;
    transform: scale(0.9);
}

.header-button {
    padding: 10px;
    border: 2px black solid;
    text-decoration: none;
    color: black;
    font-size: 20px;
    border-radius: 20px;
    font-weight: bold;
}

.header-button2 {
    padding: 10px;
    border: 2px black solid;
    background-color: black;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    border-radius: 20px;
    font-weight: bold;
}

main {
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main>img {
    width: 1400px;
    background-size: cover;
}

.main-site {
    background-color: #00824844;
    width: 1400px;
    height: 160px;
    margin-top: 20px;
    text-align: center;
    padding-top: 20px;
}

.text1 {
    font-size: 20px;
    margin-bottom: 20px;
}

.button {
    padding: 10px;
    border: 2px black solid;
    text-decoration: none;
    color: black;
    font-size: 20px;
    border-radius: 20px;
    font-weight: bold;
}

.button:hover {
    font-size: 18px;
    padding: 9px;
    transition: 300ms;
    background-color: rgba(0, 0, 0, 0.253);
    box-shadow: 0px 2px 5px black;
}

.main-site2 {
    background-color: #00824844;
    width: 1400px;
    height: 600px;
    margin-top: 20px;
    text-align: center;
}

.main-foto {
    background-size: cover;
    height: 600px;
    float: left;
}

.site-box2-tittle {
    padding-top: 200px;
    font-size: 25px;
    font-weight: bold;
}

.site-box2-tittle2 {
    padding-top: 30px;
    font-size: 20px;
}

.break-point {
    white-space: pre-line;
}

.material-icons {
    margin-right: 5px;
}

.icon {
    margin-right: 5px;
    width: 20px;
    height: 20px;
}